.Rproj.user
.Rhistory
.RData
.Ruserdata
Old_questions_backup.nb.html
Old_questions_backup.html
01_Monday.nb.html
01_Monday.html
02_Tuesday.nb.html
02_Tuesday.html
03_Wednesday.nb.html
03_Wednesday.html
04_Thursday.nb.html
04_Thursday.html
05_Friday.nb.html
05_Friday.html
