.Rproj.user
.Rhistory
.RData
.Ruserdata
Questions.nb.html
Questions.html
Monday.nb.html
Monday.html
Tuesday.nb.html
Tuesday.html
Wednesday.nb.html
Wednesday.html
Thursday.nb.html
Thursday.html
Friday.nb.html
Friday.html
